# run npx auth
NEXTAUTH_SECRET=xxxxxxxxxxxxxxxxxxxx
NEXTAUTH_URL=http://localhost:3000
NEXT_PUBLIC_BASE_URL=http://localhost:3000

# 去 google cloud dashbaord 看
GOOGLE_CLIENT_ID=xxxxxxxxxxxxxxxxxxxx
GOOGLE_CLIENT_SECRET=xxxxxxxxxxxxxxx

SANITY_DATASET=production
SANITY_API_VERSION=2023-01-01
NEXT_PUBLIC_SANITY_STUDIO_URL="http://localhost:3000"
# 去 sanity dashboard 看
NEXT_PUBLIC_SANITY_PROJECT_ID="xxxxxxxxxx"
NEXT_PUBLIC_SANITY_DATASET="production"

# 去 sanity dashboard 看
SANITY_DEVELOPER_TOKEN=xxxxxxxxxxx
SANITY_BUILD_TOKEN=xxxxxxxxxxxx
REVALIDATE_SECRET=xxxxxxxxxxxxxx (REVALIDATE post 的 secret code)