NEXTAUTH_SECRET=your_random_secret
NEXTAUTH_URL=http://localhost:3000

GITHUB_ID=xxxx
GITHUB_SECRET=xxxx
AUTHOR_EMAIL=you@example.com

SANITY_PROJECT_ID=xxxxx
SANITY_DATASET=production
SANITY_API_VERSION=2023-01-01
SANITY_API_TOKEN=xxxxx
SANITY_WEBHOOK_SECRET=your_webhook_secret